<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Course Manager</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        <tr><td><input type="submit" value="Submit"></td></tr>
        </table>
    </form>
</body>
</html>