<!DOCTYPE html>
<html lang="en">

    {% load timetable_extras %}
    {% load static %}

	<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="{% static "timetable/js/jquery.min.js" %}"></script>
    <script src="{% static "timetable/js/test.js" %}"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Prof. {{ prof.prof_name }} - Timetable</title>
</head>
<body>

    <h1>{{ prof.prof_name }}</h1>

   <table class="table table-striped">
        <thead><tr>
            <th>Start Time</th>
            <th colspan="3">Monday</th>
            <th colspan="3">Tuesday</th>
            <th colspan="3">Wednesday</th>
            <th colspan="3">Thursday</th>
            <th colspan="3">Friday</th>
        </tr>
		<tr>
			<th/><th>Name</th><th>Groups</th><th>Room</th>
			<th>Name</th><th>Groups</th><th>Room</th>
			<th>Name</th><th>Groups</th><th>Room</th>
			<th>Name</th><th>Groups</th><th>Room</th>
			<th>Name</th><th>Groups</th><th>Room</th>
		</tr></thead>
        <tbody>
            {% for time in start_times %}
            <tr>
                <td>{{ time }}</td>
                {% for day in days %}
                    {% get_prof_course %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>